<ngx-loading-bar [includeSpinner]=false [color]="'#FFA500'"></ngx-loading-bar>
<nav class="navbar navbar-dark bg-black">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="https://thumbs.dreamstime.com/b/world-global-news-concept-icon-isolated-black-background-simple-vector-logo-world-global-news-concept-icon-isolated-162263586.jpg" alt="" width="90" height="50" class="d-inline-block align-text-center">
      News-App(India specific Only)
    </a>
  </div>
</nav>
<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">News-App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="crypto">Crypto News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="business">Business News</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr>
<p>Start editing to see some magic happen :</p>
<!-- <button (click)="toggleDarkTheme()">Toggle dark theme</button> -->
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch"(click)="toggleDarkTheme()" id="flexSwitchCheckDefault">
  <label class="form-check-label" for="flexSwitchCheckDefault">Dark Mode</label>
</div>
<router-outlet></router-outlet>
<footer class="mt-3 mb-3">
  <p class="text-center">&copy; 2021 NewsApp</p>
</footer>
